$font: 'Montserrat', 'Poppins';
$CP: white;
$CS: black;
$hover: grey;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: #191919;
    height: 100vh;

    #tudo {
        display: grid;
        place-items: center;
        padding-top: 5.5rem;

        img {
            border-radius: 50%;
            transition: 0.2s;
            &:hover {
                transform: scale(1.02);
            }
        }

        #links {
            padding-top: 3.5rem;
            a {
                width: 700px;
                background-color: rgb(56, 32, 192);
                text-decoration: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin: 1rem;
                padding: 1rem;
                transition: 0.2s;
                border-radius: 10px;
                &:hover {
                    transform: scale(1.05);
                    border-radius: 20px;
                }

                p {
                    text-decoration: none;
                    color: $CP;
                    font-family: $font;
                }

                img {
                    margin-right: 1rem;
                }
            }
        }

        #footer {
            font-family: $font;
            color: $CP;
            padding-top: 2rem;
        }
    }
}

@media screen and (max-width: 1367px) {
    .container {
        height: 100vh;

        #tudo {
            padding-top: 2.5rem;
            #img {
                img {
                    width: 195px;
                    padding-top: 0;
                }
            }

            #links {
                a {
                    padding: 0.5rem;
                    margin: 0.5;
                    transition: 0.2s;
                    &:hover {
                        transform: scale(1.02);
                    }
                }
            }

            #footer {
                padding-top: 1rem;
                text-align: center;
                margin: auto;
                display: grid;
                place-items: center;
            }
        }
    }
}

@media screen and (max-width: 414px) {
    .container {
        #tudo {
            width: 390px;

            #links {
                margin: 0.6rem;
                width: 390px;
                display: flex;
                text-align: center;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                a {
                    img {
                        display: none;
                    }

                    &:hover {
                        transform: translateY(-5px);
                    }
                    width: 390px;
                    text-align: center;
                    margin-top: 0.5rem;
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: 1rem;
                }
            }

            #footer {
                padding-top: 0.5rem;
            }
        }
    }
}

@media screen and (max-width: 390px) {
    .container {
        #tudo {
            #img {
                img {
                    width: 155px;
                }
            }
            width: 300px;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            #links {
                a {
                    img {
                        display: block;
                        width: 33.3px;
                    }
                    width: 300px;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    body {
        background-color: #191919;
    }
    .container {
        width: 374px;
        height: auto;
        #tudo {
            height: auto;
            padding-top: 2.5rem;
            #img {
                img {width: 155px;}
            }
            #links {
                a {
                    img {
                        display: block;
                        width: 33.3px;
                        filter: drop-shadow(2px 5px 25px black);
                    }
                }
                #tw {
                    background-color: indigo;
                }
    
                #tt {
                    background-color: rgb(33, 148, 255);
                }

                #ig {
                    background: rgb(215, 16, 255);
                }
            }
        }

    }
    #footer {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 360px) {
    body {
        background-color: #191919;
    }
    .container {
        width: 300px;
        margin: auto;
        #img {
            img {
                width: 155px;
            }
        }
        #tudo {
            width: 300px;
            margin: auto;
            #links {
                width: auto;
            }
        }
    }
}