* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #191919;
  height: 100vh;
}
.container #tudo {
  display: grid;
  place-items: center;
  padding-top: 5.5rem;
}
.container #tudo img {
  border-radius: 50%;
  transition: 0.2s;
}
.container #tudo img:hover {
  transform: scale(1.02);
}
.container #tudo #links {
  padding-top: 3.5rem;
}
.container #tudo #links a {
  width: 700px;
  background-color: rgb(56, 32, 192);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  transition: 0.2s;
  border-radius: 10px;
}
.container #tudo #links a:hover {
  transform: scale(1.05);
  border-radius: 20px;
}
.container #tudo #links a p {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", "Poppins";
}
.container #tudo #links a img {
  margin-right: 1rem;
}
.container #tudo #footer {
  font-family: "Montserrat", "Poppins";
  color: white;
  padding-top: 2rem;
}

@media screen and (max-width: 1367px) {
  .container {
    height: 100vh;
  }
  .container #tudo {
    padding-top: 2.5rem;
  }
  .container #tudo #img img {
    width: 195px;
    padding-top: 0;
  }
  .container #tudo #links a {
    padding: 0.5rem;
    margin: 0.5;
    transition: 0.2s;
  }
  .container #tudo #links a:hover {
    transform: scale(1.02);
  }
  .container #tudo #footer {
    padding-top: 1rem;
    text-align: center;
    margin: auto;
    display: grid;
    place-items: center;
  }
}
@media screen and (max-width: 414px) {
  .container #tudo {
    width: 390px;
  }
  .container #tudo #links {
    margin: 0.6rem;
    width: 390px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container #tudo #links a {
    width: 390px;
    text-align: center;
    margin-top: 0.5rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .container #tudo #links a img {
    display: none;
  }
  .container #tudo #links a:hover {
    transform: translateY(-5px);
  }
  .container #tudo #footer {
    padding-top: 0.5rem;
  }
}
@media screen and (max-width: 390px) {
  .container #tudo {
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container #tudo #img img {
    width: 155px;
  }
  .container #tudo #links a {
    width: 300px;
  }
  .container #tudo #links a img {
    display: block;
    width: 33.3px;
  }
}
@media screen and (max-width: 375px) {
  body {
    background-color: #191919;
  }
  .container {
    width: 374px;
    height: auto;
  }
  .container #tudo {
    height: auto;
    padding-top: 2.5rem;
  }
  .container #tudo #img img {
    width: 155px;
  }
  .container #tudo #links a img {
    display: block;
    width: 33.3px;
    filter: drop-shadow(2px 5px 25px black);
  }
  .container #tudo #links #tw {
    background-color: indigo;
  }
  .container #tudo #links #tt {
    background-color: rgb(33, 148, 255);
  }
  .container #tudo #links #ig {
    background: rgb(215, 16, 255);
  }
  #footer {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 360px) {
  body {
    background-color: #191919;
  }
  .container {
    width: 300px;
    margin: auto;
  }
  .container #img img {
    width: 155px;
  }
  .container #tudo {
    width: 300px;
    margin: auto;
  }
  .container #tudo #links {
    width: auto;
  }
}/*# sourceMappingURL=index.css.map */